@use 'sass:color';
@use 'base/mixins' as m;
@use 'base/variables' as v;
@media (prefers-color-scheme: dark) {
    $grisOscuro: #2C2C3B;
    body {
        background-color: $grisOscuro;
    }

    .tagline,
    .formulario label,
    .login .acciones a,
    .crear .acciones a,
    .olvide .acciones a {
        color: v.$blanco;
    }
    .descripcion-pagina,
    .formulario .campo input,
    .nombre-pagina {
        color: v.$grisClaro;
    }

    .formulario .campo input {
         background-color: color.scale(v.$grisOscuro, $lightness: 5%);
         &::placeholder {
                color: color.scale(v.$grisClaro, $lightness: -20%);
         }
    }


    .alerta.error {
        background-color: v.$blanco;
    }

    .sidebar {
        @include m.tablet {
            background-color: color.scale(v.$grisOscuro, $lightness: -5%);
        }
        .sidebar-nav a {
            &.activo,
            &:hover {
                background-color: v.$naranja;
            }
        }
    }      


    .barra-mobile,
    .barra {
        background-color: color.scale(v.$grisOscuro, $lightness: -5%);
    }
    .barra {
        p {
            color: v.$grisClaro;

            span {
                color: v.$naranja;
            }
        }
        .cerrar-sesion {
            @include m.boton(v.$naranja, v.$blanco);
            padding: 1rem;
            font-size: 1.2rem;
        }
    }

    .filtros {
        background-color: color.scale(v.$grisOscuro, $lightness: 10%);
        h2, 
        label {
            color: v.$blanco;
        }
        input[type="radio"] {
            accent-color: v.$naranja;
        }
    }


    .dashboard {
        background-color: $grisOscuro;

        .enlace {
            color: v.$grisClaro;

            &:hover {
                color: color.scale(v.$grisClaro, $lightness: -20%);
            }
        }
        .formulario input:not([type="submit"]) {
            background-color: color.scale(v.$grisOscuro, $lightness: 20%);
            color: v.$blanco;
            &::placeholder {
                color: color.scale(v.$grisClaro, $lightness: -20%);
            }
        }
    }

    .listado-proyectos .proyecto {
        background-color: color.scale(v.$grisOscuro, $lightness: 20%);
        &:hover {
            background-color: color.scale(v.$grisOscuro, $lightness: 10%);
        }
    }
    .listado-tareas .tarea {
        background-color: color.scale(v.$grisOscuro, $lightness: 10%);
        border: none;
        p {
            color: v.$grisClaro;
        }
    }

    .modal .formulario {
        background-color: $grisOscuro;
        input[type="text"] {
            background-color: color.scale(v.$grisOscuro, $lightness: 20%);
            border: none;
            color: v.$blanco;
            &::placeholder {
                color: color.scale(v.$grisClaro, $lightness: -20%);
            }
        }
        legend {
            color: v.$grisClaro;
        }
    }
}