@use 'sass:color';
@use 'base/mixins' as m;
@use 'base/variables' as v;
@media (prefers-color-scheme: dark) {
    $grisOscuro: #2C2C3B;
    body {
        background-color: $grisOscuro;
    }

    .tagline,
    .formulario label,
    .login .acciones a,
    .crear .acciones a,
    .olvide .acciones a {
        color: v.$blanco;
    }
    .descripcion-pagina,
    .formulario .campo input {
        color: v.$grisClaro;
    }

    .formulario .campo input {
         background-color: color.scale(v.$grisOscuro, $lightness: 5%);
    }


    .alerta.error {
        background-color: v.$blanco;
    }
}