@use 'sass:color';
@use 'base/mixins' as m;
@use 'base/variables' as v;
@media (prefers-color-scheme: dark) {
    $grisOscuro: #2C2C3B;
    body {
        background-color: $grisOscuro;
    }

    .tagline,
    .formulario label,
    .login .acciones a,
    .crear .acciones a,
    .olvide .acciones a {
        color: v.$blanco;
    }
    .descripcion-pagina,
    .formulario .campo input,
    .nombre-pagina {
        color: v.$grisClaro;
    }

    .formulario .campo input {
         background-color: color.scale(v.$grisOscuro, $lightness: 5%);
    }


    .alerta.error {
        background-color: v.$blanco;
    }

    .barra-mobile {
        background-color: color.scale(v.$grisOscuro, $lightness: -5%);
    }

    .filtros {
        background-color: color.scale(v.$grisOscuro, $lightness: 10%);
        h2, 
        label {
            color: v.$blanco;
        }
        input[type="radio"] {
            accent-color: $grisOscuro;
        }
    }


    .dashboard {
        background-color: $grisOscuro;

        .enlace {
            color: v.$grisClaro;

            &:hover {
                color: color.scale(v.$grisClaro, $lightness: -20%);
            }
        }
    }

    .listado-proyectos .proyecto {
        background-color: color.scale(v.$grisOscuro, $lightness: 20%);
        &:hover {
            background-color: color.scale(v.$grisOscuro, $lightness: 10%);
        }
    }
    .listado-tareas .tarea {
        background-color: color.scale(v.$grisOscuro, $lightness: 10%);
        border: none;
        p {
            color: v.$grisClaro;
        }
    }
}